body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  
  .container-fluid{
    padding: 0 4%;
  }
  
  /* Sections */
  
  .title-section{
    background-color: #f6c90e;
    color: #303841;
  }

  /* Navigation Bar */

.navbar{
    padding: 0 0 1.5rem;
  }
  
  .navbar-brand{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.8rem;
    font-weight: bold;
  }
  
  .nav-item{
    padding: 0 20px;
  }
  
  .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light",sans-serif;
  }

  .nav-name{
    padding: 0 20px;
    font-size: 1.2rem;
    font-family: "Montserrat-Light",sans-serif;
  }

  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 18px;}
  }

  #wrap {
    width: 1100px;
    margin: 0 auto;
  }

  #external-events {
    position: fixed;
    float: left;
    margin: 0px;
    width: 200px;
    padding: 10px;
    margin-top: 86px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: center;
  }

  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
    padding: 2%;
    float: right;
    width: 900px;
  }
  